@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Solway', serif;
    scroll-behavior: smooth;
    background-image: url(images/background.jpg);
    /* background: #3a3040; */
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin: 60px 20px 30px 20px;
    color: #ded0de;
    text-transform: uppercase;
}


nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 0px 100px;
    /* background: #3a3040; */
    /* box-shadow: 0 3px 10px rgba(0,0,0,0.1); */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
nav.sticky {
    top: -2px;
    max-width: 100%;
    background: #3a3040bb;
    padding: 0px 100px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    transition: 0.5s;
}

nav ul {
    display: flex;
    background: #3a304000;
    justify-content: flex-end;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}
nav ul li {
    list-style: none;
    background: none;
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
}
nav ul li a {
    color: #ded0de;
    background: #3a304000;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 16px 8px;
    margin: 0px 30px;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff3414;
    letter-spacing: 1.5px;
    font-weight: 700;
    transition: 0.5s;
}
nav.sticky ul li a {
    background: #3a304000;
    color: #ded0de;
    padding: 16px 8px;
    margin: 0px 30px;
    transition: 0.5s;
}
nav.sticky ul li a:hover {
    color: #ff3414;
    font-weight: 700;
    transition: 0.3s;
}

nav a.active {
    color: #e5e5e5;
    font-weight: 700;
    border-bottom: #e5e5e5ee 4px solid;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

p {
    color: #e5e5e5;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}


/* PROJECTS */

.projects-container {
    position: relative;
    width: 1280px;
    max-width: 100%;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projects-container .box {
    position: relative;
    width: 400px;
    max-width: 80%;
    height: 300px;
    overflow: hidden;
    transition: 1s;
    margin: 20px;
    box-sizing: border-box;
    display: inline-block;
}
.projects-container .box:hover {
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 25px 40px rgb(0, 0, 0, 0.4);
    border-radius: 25px;
    cursor: pointer;
}
.projects-container .box .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-container .box .img-box img {
    position: absolute;
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    transition: transform 400ms;
}
.projects-container .box:hover .img-box img {
    transform: scale(1.2);
    transition: transform 600ms;
}

.projects-container .box .img-details-box {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;

    background: #3a3040dd;
    transform: scaleY(0);
    transition: transform 0.3s;
}

.projects-container .box:hover .img-details-box {
    transform: scaleY(1);
}

.projects-container .box .img-details-box a {
    text-decoration: none;
    background: #3a304000;
}
.projects-container .box .img-details-box .img-details {
    /* position: relative; */
    /* top: 50%;
    transform: translateY(-50%); */
    margin: 20px;
    padding: 20px;
    background: #3a304000;
    line-height: 180%;
}
.projects-container .box .img-details-box .img-details h2 {
    margin: 10px 0 6px 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color:#e5e5e5;
    background: #3a304000;
    text-transform: uppercase;
}
.projects-container .box .img-details-box .img-details p {
    font-family: 'Crimson Text', serif;
    margin: 5px 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    color: #ded0de;
    background: #3a304000;
}



.footer {
    /* position: fixed; */
    margin-top: 40px;
    bottom: 0;
    height: 100px;
    background-color: #3a3040;
    color: #e5e5e5;
    border-top: #3a3040 5px solid;
    padding: 14px 24px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 30px;
}

.social-links {
    color: #e5e5e5;
    letter-spacing: 1.2px;
    font-weight: 500;
    text-align: right;
    margin-right: 60px;
}
.social-links li {
    display: inline;
    list-style: none;
}
.social-links li a {
    margin: 10px;
    text-decoration: none;
}
.social-links i {
    color: #e5e5e5;
    width: 14px;
    font-size: 18px;
    transition: 0.5s;
}
.social-links i:hover {
    color: #fe3414;
    font-size: 26px;
    transition: 0.5s;
}

.container {
    width: 80%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-left {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.container-left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.container-right {
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-text {
    margin: 60px;
    text-align: center;
}

.about-me-text h2 {
    font-size: 30px;
    font-weight: 500;
    color: #ded0dedd;
    text-transform: uppercase;
    margin: 40px;
}

.about-me-text p {
    font-family: 'Solway', serif;
    font-size: 20px;
    font-weight: 500;
    color: #ded0de;
    text-transform: uppercase;
    line-height: 30px;
}

.about-me-text span {
    font-size: 18px;
    text-transform: initial;
}








/* Responsive */
@media (max-width: 768px) {
    nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        padding: 0px 10px;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 1s;
    }
    nav.sticky {
        top: -2px;
        max-width: 100%;
        background: #3a3040bb;
        padding: 0px 10px;
        box-shadow: 0 3px 15px rgba(0,0,0,0.1);
        transition: 0.5s;
    }
    
    nav ul {
        display: flex;
        background: #3a304000;
        justify-content: flex-end;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0;
    }
    nav ul li {
        list-style: none;
        background: none;
        position: relative;
        transition: 0.5s;
        box-sizing: border-box;
    }
    nav ul li a {
        color: #ded0de;
        background: #3a304000;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        padding: 16px 4px;
        margin: 0px 12px;
    }
    nav.sticky ul li a {
        background: #3a304000;
        color: #ded0de;
        padding: 14px 4px;
        margin: 0px 12px;
        transition: 0.5s;
    }

    .footer {
        margin-top: 40px;
        bottom: 0;
        height: 140px;
        background-color: #3a3040;
        color: #e5e5e5;
        border-top: #3a3040 5px solid;
        padding: 14px 24px;
        width: 100%;
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer p {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
    }
    
    .social-links {
        margin: 0;
        color: #e5e5e5;
        letter-spacing: 1.2px;
        font-weight: 500;
        text-align: center;
    }

}